footer {
    /*flex*/
    display: flex;

    margin: auto;
    width: 1440px;
    height: auto;
}

/* FOOTER_X */
.footer_a {
    /*flex*/
    display: flex;
    flex-direction: column;
    align-items: center;
    /*text*/
    color: #FFFFFF;
    
    background-color: #232933;
    width: 100%;
}

/* FOOTER_X1 */
.footer_a1 {
    /*flex*/
    display: flex;
    align-items: center;

    width: auto;
    height: 70px;
}

.footer_a2 {
    /*flex*/
    display: flex;
    /*text*/
    font-size: 13px;
    /**/
    height: 70px;
}

/* FOOTER_X1_1 */
.footer_a1_1 {
    /*flex*/
    display: flex;
    justify-content: center;
    align-items: center;
    /**/
    margin: 0px 20px;
    width: 40px;
    height: 40px;
}

.footer_a1_2 {
    /*flex*/
    display: flex;
    justify-content: center;
    align-items: center;
    /**/
    margin: 0px 20px;
    width: 40px;
    height: 40px;
}

.footer_a1_3 {
    /*flex*/
    display: flex;
    justify-content: center;
    align-items: center;
    /**/
    margin: 0px 20px;
    width: 40px;
    height: 40px;
}

.footer_a1_4 {
    /*flex*/
    display: flex;
    justify-content: center;
    align-items: center;
    /**/
    margin: 0px 20px;
    width: 40px;
    height: 40px;
}

/* FOOTER_X1_1_1 */
.footer_a1_1_1 {
    /*image*/
    background-image: url("tools/GitHubWhite.svg");
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 25px;
    /**/
    width: 25px;
    height: 25px;
}

.footer_a1_1_1:hover {
    background-image: url("tools/GitHubWhite.svg");
    background-size: 30px;
    /**/
    width: 30px;
    height: 30px;
}

.footer_a1_2_1 {
    /*image*/
    background-image: url("tools/linkedinWhite.svg");
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 25px;
    /**/
    width: 25px;
    height: 25px;
}

.footer_a1_2_1:hover {
    background-image: url("tools/linkedin.svg");
    background-size: 30px;
    /**/
    width: 30px;
    height: 30px;
}

.footer_a1_3_1 {
    /*image*/
    background-image: url("tools/behanceWhite.svg");
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 25px;
    /**/
    width: 25px;
    height: 25px;
}

.footer_a1_3_1:hover {
    background-image: url("tools/behance.svg");
    background-size: 30px;
    /**/
    width: 30px;
    height: 30px;
}

.footer_a1_4_1 {
    /*image*/
    background-image: url("tools/facebookWhite.svg");
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 25px;
    /**/
    width: 25px;
    height: 25px;
}

.footer_a1_4_1:hover {
    background-image: url("tools/facebook.svg");
    background-size: 30px;
    /**/
    width: 30px;
    height: 30px;
}