@font-face {
    font-family: SamsungSansRegular;
    src: url( fonts/SamsungSansRegular.ttf );
}

@font-face {
    font-family: SamsungSansThin;
    src: url( fonts/SamsungSansThin.ttf );
}

@font-face {
    font-family: SamsungSansMedium;
    src: url( fonts/SamsungSansMedium.ttf );
}

@font-face {
    font-family: SamsungSansLight;
    src: url( fonts/SamsungSansLight.ttf );
}

@font-face {
    font-family: SamsungSansBold;
    src: url( fonts/SamsungSansBold.ttf );
}

* { font-family: SamsungSansRegular, sans-serif; }

/*- NAV -*/
nav {
    /*flex*/
    display: flex;
    justify-content: space-between;

    margin: auto;
    width: 1440px;
    height: 70px;
}

.nav_c {
    width: auto;
    height: 70px;
    margin-left: 50px;
}

.nav_d {
    width: auto;
    height: 70px;
    margin-right: 50px;
}

/*- LV_X1 -*/
.nav_c1 {
    display: flex;
    align-items: center;
    width: auto;
    height: 70px;
}

.nav_d1 {
    display: flex;
    align-items: center;

    width: auto;
    height: 70px;
}

/*- NAV_X1_1 -*/
.nav_c1_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
}

.nav_c1_2 {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #232933;
    width: 60px;
    height: 60px;
    border-radius: 30px 0px 0px 30px;
}

.nav_c1_3 {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #232933;
    width: 60px;
    height: 60px;
}

.nav_c1_4 {
    /*flex*/
    display: none;
    justify-content: center;
    align-items: center;
    
    background-color: #232933;
    width: 60px;
    height: 60px;
    border-radius: 0px 30px 30px 0px;
}

a {
    color: #000000;
    text-decoration: none;
}

.nav_d1_1 {
    /*flex*/
    display: flex;
    align-items: center;

    text-align: center;
    line-height: 40px;
    width: auto;
    height: 70px;
}

.nav_d1_2 {
    /*flex*/
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 60px;
    height: 60px;
    border-radius: 0px 30px 30px 0px;
}

/*- NAV_X1_1_1 -*/
.nav_c1_1_1 {
    display: flex;
    /*image*/
    background-image: url( "tools/united-kingdom.png" );
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 40px;

    width: 40px;
    height: 40px;
    border: 2px solid #232933;
    border-radius: 30px;
}

.nav_c1_2_1 {
    display: flex;
    /*image*/
    background-image: url( "tools/united-kingdom.png" );
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 40px;

    width: 40px;
    height: 40px;
}

.nav_c1_3_1 {
    display: flex;
    /*image*/
    background-image: url( "tools/ukraine.png" );
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 40px;

    width: 40px;
    height: 40px;
}

.nav_c1_4_1 {
    display: flex;
    /*image*/
    background-image: url( "tools/russia.png" );
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 40px;

    width: 40px;
    height: 40px;
}

.nav_d1_1_1 {
    display: flex;
    padding: 0px 20px;
    width: auto;
    height: 40px;
    border-bottom: 2px solid #FFFFFF;
}

.nav_d1_1_1:hover { border-bottom: 2px solid #232933; }

.nav_d1_1_2 {
    display: flex;
    padding: 0px 20px;
    width: auto;
    height: 40px;
    border-bottom: 2px solid #FFFFFF;
}

.nav_d1_1_2:hover { border-bottom: 2px solid #232933; }

.nav_d1_1_3 {
    display: flex;  
    padding: 0px 10px 0px 20px;
    width: auto;
    height: 40px;
    border-bottom: 2px solid #FFFFFF;
}

.nav_d1_1_3:hover { border-bottom: 2px solid #232933; }

.nav_d1_2_1 {
    width: 30px;
    height: 40px;
}

/*- NAV_X1_1_1_1 -*/
.nav_d1_2_1_1 {
    width: 100%;
    height: 6px;
}

.nav_d1_2_1_2 {
    background-color: #232933;
    width: 100%;
    height: 6px;
    border-radius: 3px;
}

.nav_d1_2_1_3 {
    width: 100%;
    height: 5px;
}

.nav_d1_2_1_4 {
    background-color: #232933;
    width: 100%;
    height: 6px;
    border-radius: 3px;
}

.nav_d1_2_1_5 {
    width: 100%;
    height: 5px;
}

.nav_d1_2_1_6 {
    background-color: #232933;
    width: 100%;
    height: 6px;
    border-radius: 3px;
}

.nav_d1_2_1_7 {
    width: 40px;
    height: 6px;
}

/*- HEADER -*/
header {
    /*flex*/
    display: flex;
    justify-content: space-between;

    margin: auto;
    width: 1440px;
    height: 350px;
}

.header_c {
    /*flex*/
    display: flex;
    flex-direction: column;

    text-align: center;
    margin-left: 50px;
    width: 50%;
}

.header_d {
    /*flex*/
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 50px;
    width: 50%;
}

/*- HEADER_X1 -*/
.header_c1 {
    line-height: 70px;
    width: auto;
    height: 70px;
}

.header_c2 {
    font-family: SamsungSansBold, sans-serif;
    font-size: 25px;
    line-height: 70px;
    width: auto;
    height: 50px;
}

.header_c3 {
    width: auto;
    height: 50px;
}

.header_c4 {
    display: flex;
    justify-content: center;
    width: auto;
    height: 70px;
}

.header_c5 {
    /*flex*/
    display: flex;
    justify-content: center;
    align-items: center;

    width: auto;
    height: 70px;
}

.header_d1 {
    /*image*/
    background-image: url("tools/backgP1.svg");
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 350px;

    width: 400px;
    height: 400px;
}

/*- HEADER_X1_1 -*/
.header_c4_1 {
    line-height: 70px;
    background-color: #232933;
    width: 360px;
    height: 70px;
    border-radius: 5px;
}

.header_c4_1 a { color: #FFFFFF; }

.header_c5_1 {
    /*flex*/
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0px 20px;
    width: 60px;
    height: 60px;
}

.header_c5_2 {
    /*flex*/
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0px 20px;
    width: 60px;
    height: 60px;
}

.header_c5_3 {
    /*flex*/
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0px 20px;
    width: 60px;
    height: 60px;
}

.header_c5_4 {
    /*flex*/
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0px 20px;
    width: 60px;
    height: 60px;
}

/*- HEADER_X1_1_1 -*/
.header_c5_1_1 {
    /*image*/
    background-image: url("tools/GitHub_SS.svg");
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 35px;

    width: 35px;
    height: 35px;
}

.header_c5_1_1:hover {
    background-image: url("tools/GitHub.svg");
    background-size: 40px;

    width: 40px;
    height: 40px;
}

.header_c5_2_1 {
    /*image*/
    background-image: url("tools/behance_SS.svg");
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 35px;

    width: 35px;
    height: 35px;
}

.header_c5_2_1:hover {
    background-image: url("tools/behance.svg");
    background-size: 40px;

    width: 40px;
    height: 40px;
}

.header_c5_3_1 {
    /*image*/
    background-image: url("tools/facebook_SS.svg");
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 35px;

    width: 35px;
    height: 35px;
}

.header_c5_3_1:hover {
    background-image: url("tools/facebook.svg");
    background-size: 40px;

    width: 40px;
    height: 40px;
}

.header_c5_4_1 {
    /*image*/
    background-image: url("tools/instagram_SS.svg");
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 35px;

    width: 35px;
    height: 35px;
}

.header_c5_4_1:hover {
    background-image: url("tools/instagram.svg");
    background-size: 40px;

    width: 40px;
    height: 40px;
}

/* -BLOCK- */
.blq {
    width: 100%;
    height: 20px;
}