@media only screen and ( max-width: 400px ) {
/* - - - - - footer - - - - - */
    footer {
        width: 100%;
    }
}

@media only screen and ( min-width: 401px ) {
    /*- NAV -*/

    /* - - - - - footer - - - - - */
    footer {
        width: 100%;
    }
}

@media only screen and ( max-width: 768px ) {
    /*- NAV -*/
    .nav_c { margin-left: 10px; }
    .nav_d { margin-right: 10px; }

    /*- HEADER -*/
    .header_c {
        width: 100%;
        margin-left: 0px;
    }
    
    .header_d { display: none; }

    /* - - - - - footer - - - - - */
    footer {
        height: 160px;
    }

    .footer-b {
        height: 60px;
    }

    .footer-b1 {
        display: none;
    }
    
    .footer-c1 {
        display: none;
    }
}

@media only screen and ( min-width: 769px ) {
    /*- NAV -*/
    
    /* - - - - - footer - - - - - */
    .footer-c2{
        display: none;
    }

    .footer-c3{
        display: none;
    }
}

@media only screen and ( max-width: 991px ) {
    /*- NAV -*/
    .nav_d1_1 { display: none; }

    .nav_d1_1_1 {
        color: #FFFFFF;
        padding: 0px 10px 0px 20px;
        border-bottom: none;
    }
    .nav_d1_1_2 {
        color: #FFFFFF;
        padding: 0px 10px;
        border-bottom: none;
    }
    .nav_d1_1_3 {
        color: #FFFFFF;
        padding: 0px 0px 0px 10px;
        border-bottom: none;
    }

    .nav_d1_1_1:hover { border-bottom: none; }
    .nav_d1_1_2:hover { border-bottom: none; }
    .nav_d1_1_3:hover { border-bottom: none; }

    /*- HEADER -*/
}

@media only screen and ( min-width: 992px ) {
    /*- NAV -*/
    .nav_d1_2 { display: none; }
}

@media only screen and ( min-width: 1200px ) {}

@media only screen and ( max-width: 1439px ) {
    /*- NAV -*/
    nav { width: 100%; }

    /*- HEADER -*/
    header { width: 100%; }
}

@media only screen and ( min-width: 1440px ) {
    /*- NAV -*/

    /* - - - - - footer - - - - - */
    footer {
        width: 1440px;
    }
}