@media only screen and ( max-width: 768px ) {
    /* NAV */
    .nav_c { margin-left: 10px; }
    .nav_d { margin-right: 10px; }

    /*BLOCK*/
    .blq { display: none; }
}

@media only screen and ( min-width: 769px ) {
    /* SECTION */
    .section_a {
        flex-direction: row;
        border-top: 2px solid #232933;
        border-bottom: 2px solid #232933;
    }

    .section_a1 {
        /*flex*/
        align-items: center;

        background-image: url("tools/backgP3.svg");
    }

    .section_a1_1 {
        /*image*/
        background-size: 225px;
        /**/
        margin: 50px;
        width: 225px;
        height: 225px;
    }

    .section_a2 { padding: 50px; }
    .section_a2_1 { justify-content: flex-start; }
    .section_a2_2 { padding: 0px; }

    .section_b1 {
        color: #232933;
        background-color: #FFFFFF;
    }
    .section_b2 { background-color: #FFFFFF; }

    /*javascript*/
    .section_b2_1 { border: none; }
    .section_b2_1_2 {
        color: #232933;
        border-top: 1px solid #232933;
    }
    .section_b2_1_1 { border: 2px solid #232933; }

    /*css*/
    .section_b2_2 { border: none; }
    .section_b2_2_1 {
        background-image: url("tools/CSS3.svg");
        background-color: #FFFFFF;
        border: 2px solid #2162AF;
    }
    .section_b2_2_2 { color: #232933; }

    /*html*/
    .section_b2_3 { border: none; }
    .section_b2_3_1 {
        background-image: url("tools/HTML.svg");
        background-color: #FFFFFF;
        border: 2px solid #E44D26;
    }
    .section_b2_3_2 { color: #232933; }

    /*react*/
    .section_b2_4 { border: none; }
    .section_b2_4_1 {
        background-image: url("tools/React.svg");
        background-color: #FFFFFF;
        border: 2px solid #53C1DE;
    }
    .section_b2_4_2 { color: #232933; }

    /*jquery*/
    .section_b2_5 { border: none; }
    .section_b2_5_1 {
        background-image: url("tools/JQuery.svg");
        background-color: #FFFFFF;
        border: 2px solid #232933;
    }
    .section_b2_5_2 {
        color: #232933;
        border-top: 1px solid #232933;
    }

    /*git*/
    .section_b2_6 { border: none; }
    .section_b2_6_1 {
        background-image: url("tools/Git.svg");
        background-color: #FFFFFF;
        border: 2px solid #E31E24;
    }
    .section_b2_6_2 { color: #232933; }
}

@media only screen and ( max-width: 991px ) {
    /* NAV */
    .nav_d1_1 { display: none; }

    /* HEADER */
    .header_c {
        width: 100%;
        margin-left: 0px;
    }

    .header_d { display: none; }
}

@media only screen and ( min-width: 992px ) {
    /* NAV */
    .nav_d1_2 { display: none; }
    .nav_e1 { display: none; }
}

@media only screen and ( min-width: 1200px ) {}

@media only screen and ( max-width: 1439px ) {
    /* NAV */
    nav { width: 100%; }

    /* HEADER */
    header { width: 100%; }

    /* SECTION */
    section { width: 100%; }

    /* FOOTER */
    footer { width: 100%; }
}

@media only screen and ( min-width: 1440px ) {
    /*BLOCK*/
    .blq { width: 1440px; }
}