@media only screen and ( max-width: 400px ) {}

@media only screen and ( min-width: 401px ) {}

@media only screen and ( max-width: 768px ) {
    /* NAV */
    .nav_c { margin-left: 10px; }
    .nav_d { margin-right: 10px; }

    /*BLOCK*/
    .blq { display: none; }
}

@media only screen and ( min-width: 769px ) {
    /* SECTION */
    .section_a { flex-direction: row; }

    .section_a1 {
        /*flex*/
        align-items: center;

        background-image: url("tools/backgP3.svg");
    }

    .section_a1_1 {
        margin: 50px;
    }

    .section_a2 { padding: 50px; }
    .section_a2_1 { justify-content: flex-start; }
    .section_a2_2 { padding: 0px; }
}

@media only screen and ( max-width: 991px ) {
    /* NAV */
    .nav_d1_1 { display: none; }

    /* HEADER */
    .header_c {
        width: 100%;
        margin-left: 0px;
    }

    .header_d { display: none; }
}

@media only screen and ( min-width: 992px ) {
    /* NAV */
    .nav_d1_2 { display: none; }
    .nav_e1 { display: none; }
}

@media only screen and ( min-width: 1200px ) {}

@media only screen and ( max-width: 1439px ) {
    /* NAV */
    nav { width: 100%; }

    /* HEADER */
    header { width: 100%; }

    /* SECTION */
    section { width: 100%; }

    /* FOOTER */
    footer { width: 100%; }
}

@media only screen and ( min-width: 1440px ) {
    /*BLOCK*/
    .blq { width: 1440px; }
}