section {
    display: flex;
    margin: auto;
    width: auto;
    height: auto;
}

.contentBackGround {
    display: flex;
    background-image: url("tools/backgP1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: auto;
    width: 100%;
    height: auto;
}

/* SECTION_X */
.section_a {
    display: flex;
    flex-direction: column;
    width: 1440px;
    margin: auto;
    padding: 20px 0px;
}

.section_b {
    display: flex;
    flex-direction: column;
    width: 1440px;
    margin: auto;
}

.section_CT0 {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 1440px;
    height: auto;
}

.section_CT1 {
    display: flex;
    width: 100%;
}

.section_c {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* SECTION_X1 */
.section_a1 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.section_a2 {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    width: auto;
}

.section_b1 {
    display: flex;
    justify-content: center;
    font-family: SamsungSansBold, sans-serif;
    font-size: 20px;
    line-height: 70px;
    color: #232933;
    width: 100%;
    height: 70px;
}

.section_b2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.section_c1 {
    display: flex;
    justify-content: center;
    font-family: SamsungSansBold, sans-serif;
    font-size: 20px;
    line-height: 70px;
    color: #232933;
    width: 100%;
    height: 70px;
}

/* PROFILE */
.section_a1_1 {
    display: flex;
    background-image: url("tools/profile.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
    width: 200px;
    height: 200px;
    border: 5px solid #232933;
    border-radius: 150px;
}

.section_a2_1 {
    display: flex;
    justify-content: center;
    font-family: SamsungSansBold, sans-serif;
    font-size: 20px;
    line-height: 70px;
    width: auto;
    height: 70px;
}

.section_a2_2 {
    display: flex;
    padding: 0px 20px;
    width: auto;
}

/* KNOWLEDGES ICONS */
.gralSetKWIcons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px;
    width: 100px;
    height: 120px;
}

.setKWLogo {
    display: flex;
    margin: 10px;
    width: 70px;
    height: 70px;
}

.setKWName {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 90%;
    height: 30px;
}

.javaScript {
    display: flex;
    background-image: url("tools/SS_JavaScript.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin: 15px 0;
    width: 60px;
    height: 60px;
    background-size: 60px;
    background-color: #F6DF1A;
    border-radius: 30px;
}

.ccs3 {
    background-image: url("tools/CSS3.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
}

.bootstrap {
    background-image: url("tools/Bootstrap.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
}

.materialUI {
    background-image: url("tools/MaterialUI.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
}

.html5 {
    background-image: url("tools/HTML.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
}

.react {
    background-image: url("tools/React.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
}

.redux {
    background-image: url("tools/Redux.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
}

.php {
    background-image: url("tools/PHP.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
}

.sql {
    background-image: url("tools/SQL.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
}

.graphql {
    background-image: url("tools/GraphQL.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
}

.git {
    background-image: url("tools/Git.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
}

/* SECTION OF PROJECTS */
.gralSetProjectIcons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 20px;
}

.gralSetProjectIcons a {
    width: auto;
    height: auto;
}

/* PROJECTS CARDS*/
.contentTittle {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #232933;
    color: #FFFFFF;
    width: 100%;
    height: 50px;
    border: 2px solid #232933;
    border-radius: 5px 5px 0px 0px;
}

.contentCardProject {
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 230px;
    cursor: pointer;
}

.cardProjectShop { background-image: url("tools/miniature/shop.jpg"); }
.cardProjectPokemon { background-image: url("tools/miniature/pokemoncards.jpg"); }
.cardProjectRating { background-image: url("tools/miniature/imgProjectRating.jpg"); }
.cardProjectHayden { background-image: url("tools/miniature/imgProjectHayden.jpg"); }
.cardProjectExchange { background-image: url("tools/miniature/imgProjectExchange.jpg"); }
.cardProjectToDo { background-image: url("tools/miniature/imgProjectToDoList.jpg"); }

.contentFootIcon {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    border: 2px solid #232933;
    border-radius: 0px 0px 5px 5px;
}

.setGralFootText {
    display: flex;
    align-items: flex-end;
    color: #232933;
    font-size: 12px;
    width: auto;
    height: 42px;
}

.setGralFootIcons {
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    width: 50px;
    height: 50px;
}

.ss_ReactIcon { background-image: url("tools/SS_React.svg"); }
.ss_ReduxIcon { background-image: url("tools/SS_Redux.svg"); }
.ss_GitIcon { background-image: url("tools/SS_Git.svg"); }
.ss_HTMLIcon { background-image: url("tools/SS_HTML.svg"); }
.ss_CSS3Icon { background-image: url("tools/SS_CSS3.svg"); }
.ss_MaterialUIIcon { background-image: url("tools/SS_MaterialUI.svg"); }
.ss_GraphQL { background-image: url("tools/SS_GraphQL.svg"); }