section {
    /*flex*/
    display: flex;

    margin: auto;
    width: 1440px;
    height: auto;
}

/*- SECTION_X -*/
.section_a {
    /*flex*/
    display: flex;
    flex-direction: column;
}

/*- SECTION_X1 -*/
.section_a1 {
    /*flex*/
    display: flex;
    justify-content: center;
    /*image*/
    background-image: url("tools/backgP2.svg");
    background-repeat: no-repeat;
    background-size: 100%;

    width: 100%;
    height: 100%;
}

.section_a2 {
    /*flex*/
    display: flex;

    color: #FFFFFF;
    background-color: #232933;
    padding: 20px;
    width: auto;
}

/*- SECTION_X1_1 -*/
.section_a1_1 {
    display: flex;
    /*image*/
    background-image: url("tools/profile.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;

    width: 200px;
    height: 200px;
    border: 5px solid #FFFFFF;
    border-radius: 150px;
}